# Python specifics
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE files
.vscode/
.idea/

# Misc
*.log
.DS_Store