ANTHROPIC_API_KEY=your_anthropic_api_key

MONGO_URI=mongodb://localhost:27017

# These should match the env variables you defined in your workers.json file
WORKER1_GITHUB_TOKEN=""
WORKER1_GITHUB_USERNAME=""
WORKER2_GITHUB_TOKEN=""
WORKER2_GITHUB_USERNAME=""

# Depending on your task, you may need only one of these two. By default, namespaceWrapper.payloadSigning uses the public key.
# These do not need to be real staking and public keypairs from the node as they're only used for signing; any valid wallets will do
# These should match the variable names specified in your workers.json file
WORKER1_STAKING_KEYPAIR="/path/to/wallet.json"
WORKER1_PUBLIC_KEYPAIR=""
WORKER2_STAKING_KEYPAIR=""
WORKER2_PUBLIC_KEYPAIR=""


# Generally this should not be changed
TEST_MODE=true
